.mastercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competitors {
  display: flex;
  gap: 50px;
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player1 button,
.player2 button {
  width: 80px;
}

.gameboard {
  margin-top: 40px;
}

.row {
  display: flex;
}

.cell {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
